
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1480469986314'); /* IE9*/
  src: url('iconfont.eot?t=1480469986314#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1480469986314') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1480469986314') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1480469986314#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before { content: "\e60f"; }

.icon-camera:before { content: "\e713"; }

.icon-101:before { content: "\e607"; }

.icon-add:before { content: "\e616"; }

.icon-bofangqishangyiqu:before { content: "\e63c"; }

.icon-bofangqixiayiqu:before { content: "\e63d"; }

.icon-huidaodingbu:before { content: "\e612"; }

.icon-config:before { content: "\e615"; }

.icon-volume:before { content: "\e620"; }

.icon-bofangqikaishi:before { content: "\e608"; }

.icon-tianqi:before { content: "\e694"; }

.icon-arrow-copy:before { content: "\e67c"; }

.icon-tianqi1:before { content: "\e600"; }

.icon-baidu:before { content: "\e68b"; }

.icon-suijibofang:before { content: "\e622"; }

.icon-sousuobanjisousuo:before { content: "\e623"; }

